html{
    margin: 2rem;
    color: var(--text);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namePage{
    background-color: var(--bg-name-page);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    color: var(--text-2);
    text-transform: uppercase;
}
.contentAbout{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.aboutImage, .aboutInformation{
    max-width: 30rem;
}

.aboutInformation h2{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.aboutInformation p {
    font-size: 20px;
    line-height: 2.5rem;
}
