form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

input{
    background-color: var(--formbg-tela-input);
    border: 1px solid gray;
    border-radius: 4px;
    height: 30px;
    padding-left: 5px;
}


label{
    margin-top: 10px ;
}

label:first-child{
    margin-top: 0 ;
}

select{
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: var(--formbg-tela-input);

}

.firstSelect{
    font-weight: 600;
}

.howFind{
    margin-top: 10px;
}

.radioGrop div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.radioGrop div label{
    margin-top: 0;
}

textarea{
    border-radius: 4px;
    border: 1px solid gray;
    background-color: var(--formbg-tela-input);
    padding: 5px;
    resize: none;
}

