:root{
    --bg: #FFFFFF;
    --text:#333333;
    --text-white:#FFFFFF;
    --foucus:#007BFF;
        
    --big-font: 3rem;
    --average-font: 1.7rem;

    --header-footer: #334148;
    --bg-name-page: #354455;
    --media-bg-menu: #242c38;
    --formbg-tela-input:#f9fafa;
}